body {
    margin: 10% 4% 4% 4%;
    background-color: #96ceb4; /* css addition 1 */
}

/* User Container div */
.userContainer {
    display: flex;
    height: 25em;
    align-items: center;
    justify-content: center;
}

.userProfile {
    background-color: #ffeead; /* css addition 2 */
    border-radius: 100px 50px; /* css addition 3 */
    border: 1px solid black;
    display: flex;
    width: 60%;
    height: 100%;
}

.user {
    height: auto;
}

#picContainer {
    width: 40%;
}

img {
    border-radius: 100px 50px; /* css addition 4 */
    position: relative;
    width: 100%;
    height: 100%;
}

/* css addition 5 */
img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

/* css addition 6 */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#infoContainer {
    margin: 5% 2% 2% 2%;
    widows: 60%;
    font-family: Nobile;
    font-size: 16px;
}

p {
    font-size: 22px;
    text-decoration: underline; /* css addition 7 */
}

.invoiceContainer {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.invoice{
    background-color: #ff6f69; /* css addition 8 */
    border-radius: 10%; /* css addition 9 */
    border: 2px solid black;
    margin: 3% 3% 0% 3%;
    padding: 2%;
    width: 250px;
    height: auto;
}

/* css addition 10 */
.invoice:hover {
    box-shadow: 6px 6px 10px #000; 
}

.invoice > p {
    position: relative;
    margin: 5px;
    left: 25%;
    font-size: 18px;
    font-family: 'Bitter', serif; /* css addition 11 */
}


