body{
    background: #ffef96;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: 100%;
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
}

.image {
  width: 100px;
  height: 100px;
}
 h2 {
   font-size: 70px;
 }
